In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import date,datetime
import os, sys

In [2]:
import wget
url = 'https://www.bloomberg.com/feeds/sitemap_news.xml'
now = datetime.now()
current_time = now.strftime("%H_%M")
name=f"sitemap_news_{today}__{current_time}.xml"
filename = wget.download(url, name)

NameError: name 'today' is not defined

In [3]:
with open(filename, 'r',encoding='utf-8') as file:
    xml_content = file.read()

NameError: name 'filename' is not defined

In [17]:
soup = BeautifulSoup(xml_content, 'xml')

In [19]:
urls = soup.find_all("url")

data = []
for url in urls:
    loc = url.loc.text
    title = url.find("news:title").text
    publication_date = url.find("news:publication_date").text[:10]
    publication_time = url.find("news:publication_date").text[11:19]
    image_loc_tag = url.find("image:loc")
    if image_loc_tag is not None:
        image_loc = image_loc_tag.text
    row_data = {
        "URL": loc,
        "Title": title,
        "Publication Date": publication_date,
        "Publication Time": publication_time,
        "Image URL": image_loc,
        }
    data.append(row_data)    
df = pd.DataFrame(data)

In [20]:
df.to_json(f'sitemap_news_{today}__{current_time}.json')

In [54]:
path = "C:/Users/Aytac Agayev/Documents/Scraping_blommberg_news_every_30_min/json/"
dirs = os.listdir( path )
data=pd.read_csv(f"C:/Users/Aytac Agayev/Documents/Scraping_blommberg_news_every_30_min/json/{dirs[0]}")

In [97]:
list1=[]
list2=[]
for i in range(len(dirs)):
    data=pd.read_csv(f"C:/Users/Aytac Agayev/Documents/Scraping_blommberg_news_every_30_min/json/{dirs[i]}")
    list1.append(data.shape[0])
    list2.append(dirs[i][-9:-4])
    new_count={"Time":list2, "Count":list1}

In [83]:
new_count

{'Time': ['13_22', '13_53', '14_22', '14_53'], 'Count': [101, 115, 130, 141]}

In [84]:
news_count = pd.DataFrame.from_dict(new_count)

In [85]:
news_count

    Time  Count
0  13_22    101
1  13_53    115
2  14_22    130
3  14_53    141

In [104]:
for i in range(1, len(dirs)):
    print(dirs[-1].head())

AttributeError: 'str' object has no attribute 'head'

In [ ]:
new_count={"Time":['13:22',"13:53","14:22","14:53" ], "Count":[data1.shape[0],data2.shape[0],data3.shape[0],data4.shape[0]]}

In [2]:
data1=pd.read_csv(r'sitemap_news_2023-04-26__13_22.csv').drop('Unnamed: 0',axis=1)
data2=pd.read_csv(r'sitemap_news_2023-04-26__13_53.csv').drop('Unnamed: 0',axis=1)
data3=pd.read_csv(r'sitemap_news_2023-04-26__14_22.csv').drop('Unnamed: 0',axis=1)
data4=pd.read_csv(r'sitemap_news_2023-04-26__14_53.csv').drop('Unnamed: 0',axis=1)

In [3]:
new_count={"Time":['13:22',"13:53","14:22","14:53" ], "Count":[data1.shape[0],data2.shape[0],data3.shape[0],data4.shape[0]]}

In [4]:
news_count = pd.DataFrame.from_dict(new_count)

In [5]:
news_count

    Time  Count
0  13:22    101
1  13:53    115
2  14:22    130
3  14:53    141

In [6]:
old=set(data1['Title'])
new=set(data2['Title'])

old1=set(data2['Title'])
new1=set(data3['Title'])

old2=set(data3['Title'])
new2=set(data4['Title'])

In [7]:
dif_old = old.difference(new)
dif_old1 = old1.difference(new1)
dif_old2 = old2.difference(new2)

In [8]:
dif_new = new.difference(old)
dif_new1 = new1.difference(old1)
dif_new2 = new2.difference(old2)

In [9]:
inter = old.intersection(new)
inter1 = old1.intersection(new1)
inter2 = old2.intersection(new2)

In [10]:
comp={"Time":['13_22 - 13_53', '13_53 - 14_22', '14_22 - 14_53'],"NEW": [len(dif_new),len(dif_new1),len(dif_new2)],"SAME":[len(inter),len(inter1),len(inter2)],"EXCLUDED":[len(dif_old),len(dif_old1),len(dif_old2)]}

In [11]:
news_compare = pd.DataFrame.from_dict(comp)

In [12]:
news_compare

            Time  NEW  SAME  EXCLUDED
0  13_22 - 13_53   16    99         2
1  13_53 - 14_22   17   113         2
2  14_22 - 14_53   10   130         0